version: '3'
services:
  database:
    image: "postgres"
    environment:
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$DB_NAME
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data  


  server:
      build:
        context: .
        dockerfile: Dockerfile
      depends_on:
        - database
      networks:
        - default
      ports:
      - "8080:8080"
      env_file:
      - ./.env
volumes:
  data: 
